In [3]:
import os

os.chdir("..")   # move out of notebooks/
print(os.getcwd())

c:\Users\hp\Documents\ML_Projects\Delhi_Infrastructure_Risk_AI

In [4]:
os.listdir("gis/raw")

['northern-zone-260116.osm.pbf']

In [5]:
from pyrosm import OSM
import geopandas as gpd
import matplotlib.pyplot as plt

plt.rcParams["figure.figsize"] = (8,8)

In [6]:
# Delhi NCR approx bounding box
# (west, south, east, north)
delhi_ncr_bbox = [76.5, 28.2, 77.7, 29.0]

In [7]:
osm = OSM(
    "gis/raw/northern-zone-260116.osm.pbf",
    bounding_box=delhi_ncr_bbox
)

In [8]:
boundaries = osm.get_boundaries()
boundaries.head()

,name,visible,admin_level,boundary,id,timestamp,version,tags,osm_type,geometry,addr:city,addr:postcode,addr:street,operator,ref,website,postal_code,border_type,changeset
0,Sector 5,False,None,administrative,172544804,1656666513,4,"{""is_in"":""Faridabad""}",way,"POLYGON ((77.31213 28.3466, 77.31211 28.34675,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,None,False,10,administrative,200561727,1464677965,13,None,way,"MULTILINESTRING ((77.0723 28.52026, 77.07322 2...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,None,False,10,administrative,200750473,1393591917,6,None,way,"MULTILINESTRING ((77.06548 28.60024, 77.06329 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,None,False,10,administrative,200880583,1358592882,5,None,way,"MULTILINESTRING ((77.08272 28.60406, 77.08529 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,False,10,administrative,201128737,1706501569,21,None,way,"MULTILINESTRING ((77.00962 28.60602, 77.00459 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
boundaries["admin_level"].value_counts()

admin_level
10    1650
9      224
6       66
5       30
11      16
8        6
4        4
Name: count, dtype: int64

In [10]:
delhi_ncr = boundaries[
    (boundaries["admin_level"] == 6) &
    (boundaries["name"].str.contains(
        "Delhi|New Delhi|Central Delhi|North Delhi|South Delhi|East Delhi|West Delhi|"
        "Ghaziabad|Noida|Gurgaon|Gurugram|Faridabad",
        case=False,
        na=False
    ))
]

In [23]:
#ax = delhi_ncr.plot(edgecolor="black", figsize=(8,8))
#ax.set_aspect("auto")

In [24]:
delhi_ncr = delhi_ncr.to_crs(epsg=4326)

delhi_ncr.to_file(
    "gis/processed/delhi_ncr_districts.geojson",
    driver="GeoJSON"
)

In [17]:
import os
os.path.exists("gis/processed/delhi_ncr_districts.geojson")

True